html {
    background-color: #1b1b1b;
    color: darkgrey;
    font-family: 'Consolas', 'monaco', 'monospace';
}

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: #fff;
}

h2,h3,h4,h5,strong {
    color: #fff;
}
p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: darkgrey;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.1em;
}

ul.posts li {
    list-style: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
